<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yangxiaolong.graduateapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MessageCenter_Activity" />
        <activity android:name=".activity.Comment_Collect_Activity" />
        <activity android:name=".activity.Feedback_Activity" />
        <activity android:name=".activity.My_Gold_Activity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            />
        <activity android:name=".activity.My_Vip_Activity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>
        <activity android:name=".activity.My_Task_Activity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>
        <activity android:name=".activity.My_Yellow_Activity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>
        <activity android:name=".activity.My_Friends_Activity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>
        <activity android:name=".activity.My_Settins_Activity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"></activity>
    </application>

</manifest>